<!doctype html>
<html lang="en">
<head>
    <!-- Meta tags  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <title> <%= title %> </title>
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <!-- CSS Assets -->
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link href="/node_modules/remixicon/fonts/remixicon.css" rel="stylesheet">


    <!-- Javascript Assets -->
    <script src="/js/app.js" defer></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <script>
      localStorage.getItem("_x_darkMode_on") === "true" && document.documentElement.classList.add("dark");
    </script>
  </head>

  <body x-data x-bind="$store.global.documentBody" class="is-header-blur navigation:horizontal" >
    <!-- App preloader-->
    <div class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900">
      <div class="app-preloader-inner relative inline-block size-48"></div>
    </div>

    <!-- Page Wrapper -->
    <div x-cloak id="root" class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900" >
      <!-- Sidebar -->
      <div class="sidebar print:hidden sm:hidden">
        <!-- Main Sidebar -->
        <%- include('../partials/main-sidebar') %>
      </div>
      
      <!-- App Header Wrapper-->
      <%- include('../partials/navbar') %>
      
      <!-- Mobile Searchbar -->
      <%- include('../partials/mobile-sidebar') %>
      
      <!-- Right Sidebar -->
      <%- include('../partials/right-sidebar') %>

      <!-- Main Content Wrapper -->
      <main class="main-content w-full px-[var(--margin-x)] pb-8">
        <div class="flex items-center space-x-4 py-5 lg:py-6">
            <h2 class="text-xl font-medium text-slate-800 dark:text-navy-50 lg:text-2xl">
                <%= title %>
            </h2>
        </div>
       
        <%- body %>
      </main>
    </div>
    <div id="x-teleport-target"></div>
    <script>
      window.addEventListener("DOMContentLoaded", () => Alpine.start());
    </script>
  </body>

<!-- Mirrored from lineone.piniastudio.com/pages-starter-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 May 2024 04:57:14 GMT -->
</html>
